################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GitPrism/CopilotIndices/0.2.1653.9816
